$font-default: 'Lato', 'Open Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans";
$font-primary: 'Lato', 'Source Sans Pro', sans-serif;
    $primary:#FE5F1E;
    $primary-hover:#b23301;
    $secondary:#f6f6f6;
    $white:#ffffff;
    $dark:#232323;
    $gray:#cccccc;

// Transition smooth
$smooth:all .3s ease-in-out;

 

 

 